[submodule "src/github.com/Masterminds/squirrel"]
	path = src/github.com/Masterminds/squirrel
	url = https://github.com/masterminds/squirrel
[submodule "src/github.com/jmoiron/sqlx"]
	path = src/github.com/jmoiron/sqlx
	url = https://github.com/jmoiron/sqlx
[submodule "src/github.com/julienschmidt/httprouter"]
	path = src/github.com/julienschmidt/httprouter
	url = https://github.com/julienschmidt/httprouter
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = https://github.com/lib/pq
[submodule "src/github.com/lann/builder"]
	path = src/github.com/lann/builder
	url = https://github.com/lann/builder
[submodule "src/github.com/lann/ps"]
	path = src/github.com/lann/ps
	url = https://github.com/lann/ps
[submodule "src/gopkg.in/go-playground/validator.v9"]
	path = src/gopkg.in/go-playground/validator.v9
	url = https://gopkg.in/go-playground/validator.v9
[submodule "src/github.com/go-playground/universal-translator"]
	path = src/github.com/go-playground/universal-translator
	url = https://github.com/go-playground/universal-translator
[submodule "src/github.com/go-playground/locales"]
	path = src/github.com/go-playground/locales
	url = https://github.com/go-playground/locales
